.body{
margin: 0;
height: 100%;
width: 100%;
background: white;
}

.header {
height: 9em;
width: 100%;
background-color: rgba(255, 255, 255, 0.425);

}

.main-content {
background-color: antiquewhite;
margin: 0 auto;
width: 75%;
height: 70%;
}

.footer {
height: 10%;
width: 100%;
margin: 0 auto;
background-color: white;
}